<!DOCTYPE html>
<html lang="zh-CN">
    <head>
         <!-- 新 Bootstrap 核心 CSS 文件 -->
         <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">

         <!-- 可选的Bootstrap主题文件（一般不用引入） -->
         <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

         <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
         <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>

         <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
         <script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <meta http-equiv="content-type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    
        <title>demo</title>
        
    </head>
    <body>
         <nav class = 'navbar navbar-inverse'>
             <div class="container-fluid" style = 'margin: 5px 8% 5px 8%' >
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#test" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#">forumFrame</a>
                    </div>
                    <div class="collapse navbar-collapse" id="test">
                        <ul class="nav navbar-nav">
                            {% for item in items %}
                            <li><a href="#">{{item.title}}</a></li>     
                            {% endfor %}
                        </ul>
                    </div>
             </div>
         </nav>

         <div class="cantainer">
             <div class="row">
                 {%for item in items%}
                 <div class="col-md-10 col-md-offset-1">
                     <div class="panel panel-default">
                         <div class="panel-heading"><a href="{% url 'article_list' item.id %}">{{item.title}}</a></div>
                         <div class="panel-body">{{item.describe}}</div>
                     </div>
                 </div>
                 {% endfor %}
             </div>
         </div>

         <div class="container">
             
         </div>
         
    </body>
</html>
